services:
  - type: web
    name: datacraft-portfolio
    env: python
    buildCommand: pip install -r requirements.txt && pybabel compile -d translations || true
    startCommand: gunicorn app:app
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
databases:
  - name: portfolio-db
    plan: free